absl-py==0.7.1
aioredis==1.2.0
arrow==0.13.1
asgiref==3.1.2
asn1crypto==0.24.0
astor==0.7.1
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
beautifulsoup4==4.6.0
bleach==2.1.2
boto==2.48.0
boto3==1.5.7
botocore==1.8.21
bs4==0.0.1
bz2file==0.98
cachetools==3.0.0
certifi==2017.11.5
cffi==1.12.1
chardet==3.0.4
classifier==2.0
constantly==15.1.0
cryptography==2.5
defusedxml==0.5.0
Django==2.1.7
django-cors-headers==2.5.2
django-reset-migrations==0.3.1
django-rest-auth==0.9.3
django-rest-knox==3.6.0
django-seed==0.1.9
django-tastypie==0.14.2
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.1.0
docutils==0.14
enum34==1.1.6
Faker==1.0.4
gast==0.2.2
gensim==3.0.1
google-api-core==1.7.0
google-api-python-client==1.7.7
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-core==0.29.1
google-cloud-language==1.1.1
google-cloud-storage==1.13.2
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
googletrans==2.4.0
grpcio==1.18.0
h5py==2.9.0
hiredis==1.0.0
html5lib==1.0.1
httplib2==0.12.0
hyperlink==19.0.0
idna==2.6
incremental==17.5.0
jmespath==0.9.3
JPype1==0.6.3
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
konlpy==0.5.1
Markdown==2.6.10
mecab-python-windows==0.996.1
mock==2.0.0
murmurhash==1.0.2
mysqlclient==1.4.2.post1
natto==0.1.7
nltk==3.4
nose==1.3.4
notes==0.3.0
numpy==1.16.0
oauthlib==3.0.1
panda==0.3.1
pandas==0.24.2
pbr==5.1.3
plac==0.9.6
protobuf==3.5.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pybind11==2.2.4
pycparser==2.19
PyGetWindow==0.0.1
PyHamcrest==1.9.0
PyJWT==1.7.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil==2.6.1
python-mimeparse==1.6.0
python3-openid==3.1.0
pytz==2018.9
queuelib==1.5.0
requests==2.9.1
requests-oauthlib==1.2.0
rsa==4.7
s3transfer==0.1.12
scikit-learn==0.20.2
scipy==1.2.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.5.6
social-auth-app-django==3.1.0
social-auth-core==3.1.0
soupsieve==1.7.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
text-unidecode==1.2
tweepy==3.7.0
twitter==1.18.0
txaio==18.8.1
uritemplate==3.0.0
urllib3==1.22
vaderSentiment==3.2.1
virtualenv==16.4.0
virtualenvwrapper-win==1.2.5
w3lib==1.20.0
webencodings==0.5.1
Werkzeug==0.13
zope.interface==4.6.0
